// == Color
$colorButtonNav: #004AAD;
$colorLightText: #FFFFFF;
$colorTextH1: #2D476B;
$colorTextMenu: #0594D0;
$colorTextPara: #38B6FF;
$colorTextFooter: #E4AB1C;
$colorBackgroundFooter: #2D476B;
$colorBackgroundBlackTransparent: rgba(255, 255, 255, 0.5);
// == Color waiting
$colorTitleMenu: #2f4558;
$colorPara: #335f8a;
$colorParaTransparent: #335e8ae3;
$colorTitleLight: #ffffff;
$colorIcon: rgb(0, 0, 0);
$colorBorderPrimary: rgb(0, 0, 0);
$colorBorderBottom: #f26619;
$color-border-bottom: rgb(0, 0, 0);
// == Text size
$sizeTitle: 2rem;
$sizeTitlePhone: 1.5rem;
$sizeButton: 1rem;
// == Text Shadow
$textShadowHeader: -1px 6px 9px #000000;
// == Text size
$textSize: 2rem;
$textSizeMedium: 1.5rem;
$textSizeSmall: $textSize - 1;
$textSizeBig: $textSize + 1;
// == Margin and Padding
$margin: 2rem;
$marginSmall: $margin - 1;
$marginBig: $margin + 1;
// == Police
$festive: 'Festive', cursive;
$dancing: 'Dancing Script', cursive;
$indie: 'Indie Flower', cursive;
$policeTitle: 'Lobster', cursive;
$cabin: 'Cabin', sans-serif;
