@use "src/styles/vars";
@use "src/styles/mixins";

.localisation {
  min-height: 100%;

  h1 {
    @include mixins.h1Page;
  }

  .localisation_map {
    .marker-label {
      margin-bottom: 2.9rem;
      opacity: 0.8;
      color: vars.$colorBorderBottom;
    }
  }
}
