@use "src/styles/vars";
@use "src/styles/mixins";

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10rem;

  h1 {
    @include mixins.h1Page;
    span {
      font-size: vars.$textSize;
    }
  }
  .home_wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 3rem;
    @include mixins.for-phone-and-tablet-only {
      flex-direction: column;
      align-items: center;
    }

    img {
      height: 40rem;
      width: auto;
      border-radius: 2rem;
      @include mixins.for-desktop-small-medium {
        height: 30rem;
      }
      @include mixins.for-tablet-portrait-up {
        height: 25rem;
        margin-bottom: 2rem;
      }
      @include mixins.for-phone-only {
        height: 20rem;
        margin-bottom: 2rem;
      }
    }

    .text_wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      min-height: 100%;
      margin-left: 4rem;
      @include mixins.for-phone-and-tablet-only {
        margin: 0;
      }

      p {
        width: 30rem;
        line-height: 1.5rem;
        color: vars.$colorBackgroundFooter;
        @include mixins.for-desktop-small-medium {
          width: 20rem;
        }
        @include mixins.for-phone-only {
          width: 12rem;
        }
      }

      button {
        width: 12rem;
        height: 3rem;
        background: vars.$colorButtonNav;
        color: vars.$colorLightText;
        font-weight: bold;
        border: none;
        border-radius: 10rem;
        margin-top: 2rem;
        align-self: flex-start;
        @include mixins.for-phone-and-tablet-only {
          align-self: center;
        }
      }
    }
  }
}
