@use "src/styles/vars";
@use "src/styles/mixins";

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 10rem;

  h1 {
    color: vars.$colorBackgroundFooter;
    font-weight: bold;
    font-size: vars.$textSizeBig + 1;
    text-align: center;
    line-height: 4rem;
    height: 3rem;
    margin: 8rem 0;
    font-family: vars.$dancing;
    text-transform: capitalize;

    span {
      font-size: vars.$textSize;
    }
  }
  .home_wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 3rem;

    img {
      height: 40rem;
      width: auto;
      border-radius: 2rem;
    }

    .text_wrapper {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      min-height: 100%;
      margin-left: 4rem;

      p {
        width: 30rem;
        line-height: 1.5rem;
        color: vars.$colorTextPara;
      }

      button {
        width: 12rem;
        height: 3rem;
        background: vars.$colorButtonNav;
        color: vars.$colorLightText;
        border: none;
        border-radius: 10rem;
        margin-top: 2rem;
        align-self: flex-start;
      }
    }
  }
}
