@use "src/styles/vars";
@use "src/styles/mixins";

.footer {
  height: 27rem;
  background: vars.$colorBackgroundFooter;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  @include mixins.for-phone-and-tablet-only {
    height: 50rem;
  }

  .footer_wrapper {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    @include mixins.for-desktop-small-medium {
      width: 80%;
    }
    @include mixins.for-phone-and-tablet-only {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .footer_info {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-top: 3rem;
      @include mixins.for-desktop-small-medium {
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
      }
      @include mixins.for-phone-and-tablet-only {
        flex-direction: column;
        width: 58%;
      }
      @include mixins.for-tablet-portrait-up {
        flex-direction: column;
        width: 40%;
      }
      .footer_horaire {
        line-height: 2rem;
        margin-right: 3rem;
        @include mixins.for-phone-and-tablet-only {
          margin-right: 0;
          margin-bottom: 2rem;
        }
        @include mixins.for-desktop-small-medium {
          margin-left: 0rem;
          margin-bottom: 2rem;
        }
        h3 {
          color: vars.$colorLightText;
          font-weight: bold;
        }

        p {
          color: vars.$colorTextFooter;
          font-weight: bold;
          width: 22rem;
          @include mixins.for-desktop-small-medium {
            font-size: 1rem;
          }
          @include mixins.for-phone-only {
            width: 15rem;
          }
        }
      }
    }
  }
}
