@use "src/styles/vars";
@use "src/styles/mixins";

.login {
  min-height: 100%;
  

  h1 {
    @include mixins.h1Page;
  }

  .login_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4rem;
    .login-form--logged {
      display: flex;
      justify-content: center;
      align-items: center;
    
      .login-form--message {
        color: vars.$colorBackgroundFooter;
        font-weight: bold;
        font-family: vars.$dancing;
        font-size: 1.2rem;
      }
    }
    form {
      @include mixins.for-phone-only {
        width: 70%;
      }

      .login_input {
        margin-bottom: 2rem;
        input {
          height: 3rem;
          width: 100%;
          padding-left: 1rem;
          border: solid vars.$colorBackgroundFooter 1px;

          &:focus {
            border-bottom: 3.5px solid vars.$colorBorderBottom;
          }
        }

        label {
          font-weight: bold;
        }
      }
      .button_submit {
        display: flex;
        justify-content: center;

        .login_button {
          @include mixins.buttonBlue;
          align-self: center;
        }
      }
    }
  }
}
