@use 'src/styles/vars';
@use 'src/styles/mixins';

.nav_desktop {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
  color: vars.$colorLightText;
  font-weight: bold;
  @include mixins.for-desktop-small-medium {
    margin: 0 2.2rem;
  }
  @include mixins.for-phone-and-tablet-only {
    display: none;
  }
  .nav_menuLeft {
    min-height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: vars.$indie;
    font-size: vars.$textSize - 0.5;
    @include mixins.for-desktop-small-medium {
      font-size: 1.2rem;
    }
    li {
      margin-right: 2.5rem;
      margin-left: 1rem;
      &:hover {
        color: vars.$colorBorderBottom;
      }
    }
  }
  .nav_menuRight {
    min-height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: vars.$indie;
    font-size: vars.$textSize - 0.5;
    @include mixins.for-desktop-small-medium {
      font-size: 1.2rem;
    }
    li {
      margin-left: 1.6rem;
      margin-right: 1rem;
      &:hover {
        color: vars.$colorBorderBottom;
      }
    }
  }

  h1 {
    font-size: vars.$textSizeBig + 1;
    text-shadow: vars.$textShadowHeader;
    font-family: vars.$dancing;
    text-align: center;
    @include mixins.for-desktop-small-medium {
      font-size: 2rem;
      width: 100%;
    }
  }
}
