@use "src/styles/vars";
@use "src/styles/mixins";

.nav_mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;

  h1 {
    color: vars.$colorLightText;
    font-weight: bold;
    font-size: vars.$textSize;
    @include mixins.for-phone-only {
      margin-left: 1rem;
    }
    font-family: vars.$dancing;
    margin-left: 3rem;
    @include mixins.for-tablet-landscape-up {
      display: none;
    }
  }
  .nav_burger-icon {
    width: 35px;
    height: 12px;
    position: relative;
    margin-bottom: 1rem;
    margin-right: 3rem;
    @include mixins.for-phone-only {
      margin-right: 1rem;
    }
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: vars.$colorLightText;
      cursor: pointer;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
      @include mixins.for-tablet-landscape-up {
        display: none;
      }
    }
    span:nth-child(1) {
      top: 0px;
    }

    span:nth-child(2) {
      top: 12px;
    }

    span:nth-child(3) {
      top: 24px;
    }
  }
  .nav_burger-icon--open {
    width: 35px;
    height: 15px;
    margin-right: 2.7rem;
    @include mixins.for-phone-only {
      margin-right: 1rem;
    }
    position: relative;
    transform: rotate(90deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
    span {
      display: block;
      position: absolute;
      height: 4px;
      width: 100%;
      background: vars.$colorLightText;
      border-radius: 9px;
      opacity: 1;
      transform: rotate(135deg);
      transition: 0.25s ease-in-out;
      @include mixins.for-tablet-landscape-up {
        display: none;
      }
    }
    span:nth-child(1) {
      top: 18px;
      transform: rotate(135deg);
    }
    span:nth-child(2) {
      opacity: 0;
      left: -60px;
    }
    span:nth-child(3) {
      top: 18px;
      transform: rotate(-135deg);
    }
  }
  .header_nav-mobile {
    animation: burgerAnimationToDeactive 0.5s ease-out;
    display: none;
    z-index: 33;
    position: absolute;
    top: 5rem;
    right: -15%;
    @include mixins.for-tablet-landscape-up {
      display: none;
    }
  }

  .actived {
    animation: burgerAnimationToActive 0.5s ease-in-out;
    display: none;
    @include mixins.for-tablet-landscape-up {
      display: none;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 24rem;
    background-color: vars.$colorParaTransparent;
    z-index: 22;
    border-bottom-left-radius: 10px;
    position: absolute;
    left: 0;
    top: 5rem;
    @include mixins.for-tablet-landscape-up {
      display: none;
    }

    h1 {
      color: vars.$colorTextFooter;
      font-weight: bold;
      font-family: vars.$dancing;
      font-size: vars.$textSize;
      margin-bottom: vars.$margin;
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    li {
      padding: 0.5rem;
      color: vars.$colorTitleLight;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        color: vars.$colorBorderBottom;
      }
    }
  }

  @keyframes burgerAnimationToActive {
    0% {
      transform: translateX(25%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes burgerAnimationToDeactive {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-25%);
    }
  }
}
